@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

.input {
    @apply w-full bg-[#161616] border border-[#262626] rounded-lg py-2 pl-10 pr-4 text-[#F5F5F5] placeholder-[#737373] focus:ring-2 focus:ring-[#7C9EFF33] focus:border-[#7C9EFF];
}

.auth-input-icon {
    @apply absolute left-3 top-1/2 -translate-y-1/2 text-[#737373] size-5;
}

.auth-input-label {
    @apply block text-sm font-medium text-[#A1A1A1] mb-2;
}

.auth-badge {
    @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-[#7C9EFF]/20 text-[#8BA4FF];
}

.auth-btn {
    @apply w-full bg-[#7C9EFF] text-black rounded-lg py-2.5 font-medium hover:bg-[#5B7CFA] focus:ring-2 focus:ring-[#7C9EFF33];
}

.auth-link {
    @apply px-4 py-2 inline-block bg-[#7C9EFF]/10 rounded-lg text-[#7C9EFF] hover:text-[#5B7CFA] text-sm transition-colors;
}